:root {
  --purple: #6d597aff;
  --dark-red: #b56576ff;
  --red: #e56b6fff;
  --orange: #eaac8bff;

  --pinkish: #f7b2ad;
  --whiteish: #fff4e9;

  --shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  margin: 0;
  -webkit-font-smoothing: auto;
  display: flex;
  overflow: hidden;
  animation: x 3s;
  animation-name: fade;
}

h1 {
  color: var(--whiteish);
  text-shadow: 1px 1px 2px var(--red);
  font-family: "Abril Fatface";
  font-size: 4rem;
  font-style: italic;
  margin: 1rem;
}

h2 {
  font-family: "Dancing Script";
  color: var(--dark-red);
  font-size: 2rem;
  margin: 0.5rem;
}

a {
  font-family: "Fira Code", monospace;
  margin-left: 0.5rem;
  text-decoration: none;
  text-shadow: 0 1px 2px var(--whiteish);
  color: var(--dark-red);
}

a:hover {
  color: var(--purple);
}

img {
  max-width: 80%;
  box-shadow: var(--shadow);
}

ul {
  list-style-type: none;
  padding-top: 1rem;
}

li {
  display: flex;
  align-items: center;
}

#title {
  margin-top: -3rem;
}

#vCard {
  font-family: "Dancing Script", Lato;
  font-size: 1.2rem;
  align-self: center;
}

.panel {
  height: 100vh;
  width: 50%;
}

.left:before {
  background-color: var(--pinkish);
  box-shadow: var(--shadow);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: -999;
  box-shadow: var(--shadow);
  content: "";
  transform: skew(2deg);
  transform-origin: bottom;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background: var(--pinkish);
  border-radius: 2px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 420px;
  margin: 1rem;
  transform: skew(2deg);
}

.icon {
  width: 35px;
  height: 35px;
  fill: var(--whiteish);
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
  .left {
    margin-top: 1rem;
  }
  .panel {
    width: 100vw;
    height: 50vh;
  }
  .left:before {
    background: unset;
    width: 100%;
    transform: unset;
  }
}

@media (max-width: 520px) {
  img {
    max-width: 100%;
  }
  ul {
    padding-top: unset;
  }
  .left {
    margin-top: 0rem;
  }
  .panel {
    height: unset;
  }
}
